@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

@layer utilities {
    .mask-t {
        @apply bg-gradient-mask-t;
        -webkit-mask-image: var( --tw-mask-image, linear-gradient(180deg, #04080c 24%, transparent));
    }
    .dark .mask-l {
        @apply bg-gradient-mask-l-dark;
        -webkit-mask-image: var( --tw-mask-image, linear-gradient(180deg, #ffffff 24%, transparent));
    }
}

.headline {
    background-image: url("https://www.jointherealworld.com/revamp/images/heading-texture_1heading-texture.webp"), linear-gradient(125deg, #fff 85%, rgba(255, 255, 255, 0));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.trs_lg {
    transition: 0.2s ease-in-out;
}

.button {
    z-index: 5;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(135deg, #ffcf23, #ff8d3a);
    padding: 3px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    transition: filter 0.5s, box-shadow 0.2s;
    position: relative;
    overflow: hidden;
    min-width: 355px !important;
}

.button_text {
    padding: 0.9rem 2rem;
    transition: padding 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    min-width: 355px !important;
}

.bgline {
    background-image: linear-gradient( to top, #ffffffa8, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 0.12) 79%, rgba(255, 255, 255, 0));
}

.jn_btn {
    transition: 0.3s ease;
}

.jn_btn:hover {
    -webkit-box-shadow: 0px 4px 51px -10px rgba(255, 202, 37, 1);
    -moz-box-shadow: 0px 4px 51px -10px rgba(255, 202, 37, 1);
    box-shadow: 0px 4px 51px -10px rgba(255, 202, 37, 1);
}

.main_bg::before {
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    top: 60px;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: url("/staticbg.webp");
    background-repeat: repeat;
    background-position: 50% 0;
    background-size: contain;
}

.green {
    background: #08de65;
}

.circle_mm {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(125, 252, 153, 0.2);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}